*.pdf
*.mp4
*.mp3
*.bat
*.kdenlive
*.psd
*.mov

/.VSCodeCounter
/env_osbpy
/2024/Bezier
/osu
/test
/logo.png
/2024/*/cover.png

__pycache__
result.json
test.py
2024/LearnOpenGL-9-Texture/awesomeface.png
2024/LearnOpenGL-9-Texture/container.jpg
2024/LearnOpenGL-9-Texture/wall.jpg
