*.pdf
*.mp4
*.mp3
*.wav
*.bat
*.kdenlive
*.psd
*.mov
._*

test*

__pycache__

/.VSCodeCounter
/env_osbpy
/_2024/Bezier
/osu
/test
/logo.png
/_2024/*/cover.png
/_2025/*/cover.png
/_2026/*/cover.png
/result*.json
